html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&subset=latin")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="icon", type="image/png", sizes="16x16", href="favicon-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            div(ws-replace="MenubarPlaceholder") MenubarPlaceholder
            section(ws-template="Menubar", class="px-4 lg:px-10 bg-gray-800 px-2")
                nav(class="relative flex justify-between items-center py-2")
                    a(class="text-2xl text-white font-bold", href="/")
                        span(class="") Intelli
                        |             
                        span(class="text-blue-500 -ml-1") Factory
                    div(class="lg:hidden")
                        button(class="p-2 navbar-burger")
                            svg(class="w-10 h-3", width="39", height="13", viewbox="0 0 39 13", fill="none", xmlns="http://www.w3.org/2000/svg")
                                rect(width="39", height="2", rx="1", fill="#C4C4C4")
                                rect(x="19", y="11", width="20", height="2", rx="1", fill="#C4C4C4")
                    div(class="hidden lg:block ml-auto mr-1")
                        ul(class="flex items-center text-white space-x-10")
                            li(class="hoverable")
                                a(class="text-white font-bold text-lg", href="/") Home
                            li(class="hoverable-mm")
                                a(class="text-white font-bold text-lg") Open Source
                                div(class="p-6 mega-menu mb-16 sm:mb-0 shadow-xl bg-blue-700")
                                    div(class="container mx-auto w-full flex flex-wrap justify-between mx-2")
                                        ul(class="px-4 w-full sm:w-1/2 lg:w-1/4 pb-6 pt-6 lg:pt-3")
                                            div(class="flex items-center")
                                                img(class="h-8 mb-3 mr-3", src="images/websharper.png", alt="WebSharper")
                                                h3(class="font-bold text-xl text-white text-bold mb-2") WebSharper
                                            p(class="text-gray-100 text-sm") Functional, reactive .NET web applications without writing JavaScript.
                                            div(class="flex items-center py-3")
                                                a(href="https://websharper.com", target="_blank")
                                                    img(class="", src="images/category3-small.jpg")
                                        ul(class="px-4 w-full sm:w-1/2 lg:w-1/4 pb-6 pt-6 lg:pt-3")
                                            div(class="flex items-center")
                                                img(class="h-8 mb-3 mr-3", src="images/bolero.png", alt="Bolero")
                                                h3(class="font-bold text-xl text-white text-bold mb-2") Bolero
                                            p(class="text-gray-100 text-sm") Future-proof web applications running on WebAssembly instead of JavaScript.
                                            div(class="flex items-center py-3")
                                                a(href="https://fsbolero.io", target="_blank")
                                                    img(class="", src="images/category6-small.jpg")
                                        ul(class="px-4 w-full sm:w-1/2 lg:w-1/4 pb-6 pt-6 lg:pt-3")
                                            div(class="flex items-center")
                                                img(class="h-8 mb-3 mr-3 fill-current text-white", src="images/sitefi.jpg", alt="SiteFi")
                                                h3(class="font-bold text-xl text-white text-bold mb-2") SiteFi
                                            p(class="text-gray-100 text-sm") .NET static web apps, markdown-based, multi-user blogs and documentation sites.
                                            div(class="flex items-center py-3")
                                                a(href="https://github.com/granicz/SiteFi", target="_blank")
                                                    img(class="", src="images/category4-small.jpg")
                                        ul(class="px-4 w-full sm:w-1/2 lg:w-1/4 pb-6 pt-6 lg:pt-3")
                                            div(class="flex items-center")
                                                img(class="h-8 mb-3 mr-3", src="images/if-logo.png", alt="IntelliFactory")
                                                h3(class="font-bold text-xl text-white text-bold mb-2") IntelliFactory Labs
                                            p(class="text-gray-100 text-sm") Miscellaneous F# tools and other material. Some relics here and there.
                                            div(class="flex items-center py-3")
                                                svg(class="h-6 pr-3 mr-1 fill-current text-teal-300", xmlns="http://www.w3.org/2000/svg", viewbox="0 0 20 20")
                                                    path(d="M20 10a10 10 0 1 1-20 0 10 10 0 0 1 20 0zm-2 0a8 8 0 1 0-16 0 8 8 0 0 0 16 0zm-8 2H5V8h5V5l5 5-5 5v-3z")
                                                a(href="https://github.com/IntelliFactory", class="font-bold", target="_blank") GitHub
                            li(class="hoverable")
                                a(class="text-white font-bold text-lg", href="/blogs") Blogs
                            li(class="hoverable")
                                a(class="text-white font-bold text-lg", href="/careers") Careers
                            li(class="hoverable")
                                a(class="text-white font-bold text-lg", href="/contact") Contact
                div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50")
                    div(class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80")
                    nav(class="relative flex flex-col py-8 h-full w-full bg-white overflow-y-auto")
                        div(class="flex items-center mb-16 pr-6")
                            a(class="ml-10 text-2xl text-gray-800 font-bold", href="/")
                                img(class="h-7", src="images/if-logo-long.png", alt="IntelliFactory")
                        div(class="hamburger")
                            ul
                                li(class="mb-1 px-10")
                                    a(class="block pl-8 py-4 text-xl text-gray-800 hover:bg-blueGray-50 rounded-xl", href="/") Home
                                li(class="mb-1 px-10")
                                    a(class="block pl-8 py-4 text-xl text-gray-800 hover:bg-blueGray-50 rounded-xl") Open Source
                                    ul
                                        li(class="mb-1 px-10")
                                            a(class="block pl-8 py-4 text-xl text-gray-800 hover:bg-blueGray-50 rounded-xl", href="https://websharper.com") WebSharper
                                        li(class="mb-1 px-10")
                                            a(class="block pl-8 py-4 text-xl text-gray-800 hover:bg-blueGray-50 rounded-xl", href="https://fsbolero.io") Bolero
                                        li(class="mb-1 px-10")
                                            a(class="block pl-8 py-4 text-xl text-gray-800 hover:bg-blueGray-50 rounded-xl", href="https://github.com/granicz/SiteFi") SiteFi
                                        li(class="mb-1 px-10")
                                            a(class="block pl-8 py-4 text-xl text-gray-800 hover:bg-blueGray-50 rounded-xl", href="https://github.com/IntelliFactory") IF Labs
                                li(class="mb-1 px-10")
                                    a(class="block pl-8 py-4 text-xl text-gray-800 hover:bg-blueGray-50 rounded-xl", href="/blogs") Blogs
                                li(class="mb-1 px-10")
                                    a(class="block pl-8 py-4 text-xl text-gray-800 hover:bg-blueGray-50 rounded-xl", href="/careers") Careers
                                li(class="mb-1 px-10")
                                    a(class="block pl-8 py-4 text-xl text-gray-800 hover:bg-blueGray-50 rounded-xl", href="/contact") Contact
                        div(class="mt-auto px-10")
                            p(class="mt-6 mb-4 text-lg text-center")
                                span 2004-2021 © IntelliFactory. All rights reserved.
            section(class="py-20 2xl:py-40 bg-blue-800 overflow-hidden")
                div(class="container px-4 mx-auto")
                    div(class="max-w-4xl mx-auto text-center")
                        div(class="inline-flex items-center")
                            img(class="mr-8 w-20 lg:w-32 h-20 lg:h-32 rounded-full", src="/img/avatar/${AuthorUsernameForAvatar}.png", alt="${AuthorName}")
                            div(class="w-full")
                                h4(class="mb-1 text-6xl font-bold text-gray-50") ${AuthorName}
            div(ws-replace="ArticlesSection") ArticlesSection
            section(ws-template="SectionWithArticles", class="py-20 bg-white")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-col lg:flex-row lg:justify-between lg:items-center mb-12")
                        div(class="lg:w-1/3 lg:pr-16 mb-2 lg:mb-8")
                            h2(class="text-3xl md:text-4xl font-bold font-heading") Articles to date
                        div(class="text-sm lg:text-base lg:w-1/3")
                            p(class="leading-loose text-blueGray-500")
                                span Can’t find what you were looking for? 
                                |                 
                                a(class="text-blue-600 hover:text-blue-700", href="/contact") Drop us a line
                                | .
                                |               
                    div(class="flex flex-wrap -mx-4")
                        div(ws-replace="Articles", class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8")
                            div(class="inline-flex items-center")
                                img(class="mr-2 w-4 h-4 lg:w-8 lg:h-8 rounded-full", src="https://images.pexels.com/photos/5325840/pexels-photo-5325840.jpeg?q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=48&w=48", alt="Adam Granicz")
                                div(class="flex-1 text-left")
                                    span(class="text-lg font-bold text-blueGray-400") Adam Granicz
                            h4(class="text-xl font-semibold") Nunc at arcu non ipsum auctor lacinia quis quis mi?
                            p(class="text-sm md:text-base text-blueGray-400") Oct 27, 2019 · 10 min read
                        div(ws-template="ArticleBlock", class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8")
                            a(href="${AuthorBlogUrl}")
                                div(class="inline-flex items-center")
                                    img(class="mr-2 w-4 h-4 lg:w-8 lg:h-8 rounded-full", src="${AuthorThumbnailUrl}", alt="${AuthorName}")
                                    div(class="flex-1 text-left")
                                        span(class="text-lg font-bold text-blueGray-400") ${AuthorName}
                            |               
                            a(href="${ArticleUrl}")
                                h4(class="text-xl font-semibold") ${Title}
                            p(class="text-sm md:text-base text-blueGray-400") ${Date} · ${MinutesToRead} min read
            div(ws-replace="FooterPlaceholder") FooterPlaceholder
            section(class="2xl:py-20 py-5 bg-blueGray-50", ws-template="Footer")
                div(class="container mx-auto px-4")
                    div(class="flex flex-wrap -mx-4 border-b border-gray-100 pt-5 lg:pt-10")
                        div(class="w-full lg:w-3/5 px-4")
                            div(class="flex flex-wrap -mx-4")
                                div(class="w-1/2 lg:w-1/3 px-4 mb-12")
                                    h3(class="mb-8 lg:mb-10 text-xl font-bold font-heading") IntelliFactory
                                    ul(class="text-lg")
                                        li(class="mb-4")
                                            a(class="hover:underline", href="/blogs") Blogs
                                        li(class="mb-4")
                                            a(class="hover:underline", href="/careers") Careers
                                        li
                                            a(href="/contact") Contact
                                div(class="w-full lg:w-1/3 px-4 mb-4")
                                    h3(class="mb-8 lg:mb-10 text-xl font-bold font-heading") Services
                                    ul(class="text-lg")
                                        li(class="mb-4")
                                            a(class="hover:underline", href="/home#consulting") Consulting
                                        li(class="mb-4")
                                            a(class="hover:underline", href="/home#trainings") Trainings
                                        li(class="mb-4")
                                            a(class="hover:underline", href="/home#code-synthesis") AI-driven Code Synthesis
                                        li(class="mb-4")
                                            a(class="hover:underline", href="/home#dsls") Domain-Specific Languages
                                div(class="w-1/2 lg:w-1/3 px-4 mb-12")
                                    h3(class="mb-8 lg:mb-10 text-xl font-bold font-heading") Open Source
                                    ul(class="text-lg")
                                        li(class="mb-4")
                                            a(class="hover:underline", href="https://websharper.com") WebSharper
                                        li(class="mb-4")
                                            a(class="hover:underline", href="https://fsbolero.io") Bolero
                                        li(class="mb-4")
                                            a(class="hover:underline", href="#") From our Lab
                        div(class="w-full lg:w-2/5 px-4 order-first lg:order-last mb-16 lg:mb-0")
                            h3(class="mb-10 text-xl font-bold") Newsletter
                            form(action="#")
                                div(class="md:max-w-sm mb-8 flex items-center bg-white border border-gray-100 rounded-full")
                                    span(class="inline-block pl-2 lg:pl-5")
                                        svg(width="37", height="37", viewbox="0 0 37 37", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            circle(cx="18.5", cy="18.5", r="9.5", fill="#1F40FF", fill-opacity="0.15")
                                            circle(cx="18.5", cy="18.5", r="18.5", fill="#1F40FF", fill-opacity="0.06")
                                            circle(cx="18.5", cy="18.5", r="2.5", fill="#282C36")
                                    input(class="pl-4 py-2 focus:outline-none rounded-full placeholder-gray-900 font-bold", type="email", placeholder="Your email address")
                                    button(class="ml-auto px-6 lg:px-8 py-4 text-white font-bold bg-blue-500 hover:bg-blue-600 rounded-full transition duration-200") Ok
                                p(class="text-gray-300") We will not spam you or give your details to anyone.
                    div(class="flex flex-wrap items-center mb-8 lg:mb-0 pt-5")
                        div(class="w-full md:w-3/4 mb-8 md:mb-0")
                            div(class="md:flex items-center")
                                a(class="inline-block text-gray-900 text-xl font-bold", href="#")
                                    img(class="h-7", src="images/if-logo-long.png", alt="IntelliFactory", width="auto")
                                |               
                                span(class="hidden md:inline-block mx-8 w-px h-8 bg-gray-50")
                                p(class="hidden lg:block text-sm text-gray-300")
                                    span(class="text-gray-700") Copyright © 2004-2021 IntelliFactory.
                                    |                 All rights reserved. Made with
                                    |                 
                                    img(width="16", height="20", style="display:inline;vertical-align:middle;", alt="Love", src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Love_Heart_SVG.svg/32px-Love_Heart_SVG.svg.png")
                                    |                 in 100% F#.
                                    |               
                        div(class="w-full md:w-1/4")
                            div(class="md:flex items-center justify-end")
                                a(class="inline-block mr-2", href="https://github.com/intellifactory")
                                    svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", viewbox="0 0 24 24")
                                        path(d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z")
                                |               
                                a(class="inline-block mr-2", href="https://facebook.com/intellifactory")
                                    svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", viewbox="0 0 24 24", fill="#3b5998")
                                        path(d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3 8h-1.35c-.538 0-.65.221-.65.778v1.222h2l-.209 2h-1.791v7h-3v-7h-2v-2h2v-2.308c0-1.769.931-2.692 3.029-2.692h1.971v3z")
                                |               
                                a(class="inline-block mr-2", href="https://twitter.com/intellifactory")
                                    svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", viewbox="0 0 24 24", fill="#00acee")
                                        path(d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.066 9.645c.183 4.04-2.83 8.544-8.164 8.544-1.622 0-3.131-.476-4.402-1.291 1.524.18 3.045-.244 4.252-1.189-1.256-.023-2.317-.854-2.684-1.995.451.086.895.061 1.298-.049-1.381-.278-2.335-1.522-2.304-2.853.388.215.83.344 1.301.359-1.279-.855-1.641-2.544-.889-3.835 1.416 1.738 3.533 2.881 5.92 3.001-.419-1.796.944-3.527 2.799-3.527.825 0 1.572.349 2.096.907.654-.128 1.27-.368 1.824-.697-.215.671-.67 1.233-1.263 1.589.581-.07 1.135-.224 1.649-.453-.384.578-.87 1.084-1.433 1.489z")
                                |               
                                a(class="inline-block mr-2", href="https://www.linkedin.com/company/intellifactory")
                                    svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", viewbox="0 0 24 24", fill="#0e76a8")
                                        path(d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 16h-2v-6h2v6zm-1-6.891c-.607 0-1.1-.496-1.1-1.109 0-.612.492-1.109 1.1-1.109s1.1.497 1.1 1.109c0 .613-.493 1.109-1.1 1.109zm8 6.891h-1.998v-2.861c0-1.881-2.002-1.722-2.002 0v2.861h-2v-6h2v1.093c.872-1.616 4-1.736 4 1.548v3.359z")
                                |               
                                a(class="inline-block", href="https://vimeo.com/user15828007")
                                    svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", viewbox="0 0 24 24", fill="#86c9ef")
                                        path(d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5.82 11.419c-1.306 2.792-4.463 6.595-6.458 6.595-1.966 0-2.25-4.192-3.324-6.983-.527-1.372-.868-1.058-1.858-.364l-.604-.779c1.444-1.27 2.889-2.745 3.778-2.826.998-.096 1.615.587 1.845 2.051.305 1.924.729 4.91 1.472 4.91.577 0 2.003-2.369 2.076-3.215.13-1.24-.912-1.277-1.815-.89 1.43-4.689 7.383-3.825 4.888 1.501z")
            div
                div(class="bottom", ws-replace="Cookie") Cookie+scripts+Include
                script(ws-replace="scripts")
                script(src="/js/Dynamic${ReleaseMin}.js")
